<tr>
    <td>{{ form.first_name }}{{ form.first_name.errors }}</td>
    <td>{{ form.last_name }}{{ form.last_name.errors }}</td>
    <td>{{ form.gender }}{{ form.gender.errors }}</td>
    <td>{{ form.age }}{{ form.age.errors }}</td>
    <td>{{ form.major }}{{ form.major.errors }}</td>

    <td>
        {% if student.profile_image %}
            <img src="{{ student.profile_image.url }}"
                 style="width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-bottom: 4px;">
        {% endif %}

        {{ form.profile_image }}
        {{ form.profile_image.errors }}
    </td>

    <!-- SAVE -->
    <td>
        <a href="#"
           hx-post="{% url 'edit_student_submit' student.pk %}"
           hx-target="closest tr"
           hx-swap="outerHTML"
           hx-include="closest tr"
           hx-encoding="multipart/form-data"
           class="text-secondary">

            <svg class="bi bi-check-lg me-2"
                 width="32"
                 height="32">
                <use xlink:href="#checkmark"/>
            </svg>
        </a>
    </td>

    <!-- CANCEL -->
    <td>
        <a href="#"
           hx-get="{% url 'edit_student' student.pk %}"
           hx-target="closest tr"
           hx-swap="outerHTML"
           class="text-secondary">

            <svg class="bi bi-x-lg me-2"
                 width="32"
                 height="32">
                <use xlink:href="#cancel"/>
            </svg>
        </a>
    </td>
</tr>