<tr style="background:#fffbeb;">
    <td>
        {% if student.profile_image %}
            <img src="{{ student.profile_image.url }}" alt="{{ student.first_name }}" class="avatar">
        {% else %}
            <span class="avatar-placeholder">{{ student.first_name|first }}{{ student.last_name|first }}</span>
        {% endif %}
        <div style="margin-top:4px;">{{ form.profile_image }}{{ form.profile_image.errors }}</div>
    </td>
    <td>{{ form.first_name }}{{ form.first_name.errors }}</td>
    <td>{{ form.last_name }}{{ form.last_name.errors }}</td>
    <td>{{ form.gender }}{{ form.gender.errors }}</td>
    <td>{{ form.age }}{{ form.age.errors }}</td>
    <td>{{ form.major }}{{ form.major.errors }}</td>
    <td style="white-space:nowrap;">
        <a href="#"
           hx-post="{% url 'edit_student_submit' student.pk %}"
           hx-target="closest tr"
           hx-swap="outerHTML"
           hx-include="closest tr"
           hx-encoding="multipart/form-data"
           class="btn-save me-2" title="Save">
            <svg width="20" height="20"><use xlink:href="#checkmark"></use></svg>
        </a>
        <a href="#"
           hx-get="{% url 'edit_student' student.pk %}"
           hx-target="closest tr"
           hx-swap="outerHTML"
           class="btn-cancel" title="Cancel">
            <svg width="20" height="20"><use xlink:href="#cancel"></use></svg>
        </a>
    </td>
</tr>